documentationDocs/CUdiagrams/CU03_diagrama_clases_analisis.drawio.xml
documentationDocs/CUdiagrams/CU05_diagrama_clases_analisis.drawio.xml
documentationDocs/CUdiagrams/CU06_diagrama_comunicacion.puml
documentationDocs/CUdiagrams/CU06_diagrama_secuencia.puml
documentationDocs/CUdiagrams/CU08_diagrama_clases_analisis.drawio.xml
documentationDocs/CUdiagrams/CU09_diagrama_clases_analisis.drawio.xml
documentationDocs/CUdiagrams/CU11_diagrama_secuencia_consultar_disponibilidad.js
documentationDocs/CUdiagrams/CU11_diagrama_secuencia.drawio.xml
documentationDocs/CUdiagrams/CU13_diagrama_secuencia.puml
documentationDocs/CUdiagrams/CU11_diagrama_comunicacion_consultar_disponibilidad.puml
documentationDocs/CUdiagrams/CU12_diagrama_comunicacion_registrar_movimiento.puml
documentationDocs/CUdiagrams/CU13_diagrama_comunicacion_inventario_consolidado.js
documentationDocs/CUdiagrams/CU13_diagrama_comunicacion_inventario_consolidado.puml
documentationDocs/CUdiagrams/CU13_diagrama_comunicacion_inventario_consolidado.vbs
documentationDocs/CUdiagrams/CU14_diagrama_comunicacion_gestionar_reservas.puml
documentationDocs/CUdiagrams/CU15_diagrama_comunicacion_gestionar_carrito.puml
documentationDocs/CUdiagrams/CU16_diagrama_comunicacion_compra_digital.puml
documentationDocs/CUdiagrams/CU17_diagrama_comunicacion_atender_reserva.puml
documentationDocs/CUdiagrams/CU18_diagrama_comunicacion_registrar_venta.puml
documentationDocs/CUestado/CU14_diagrama_estado.puml
documentationDocs/CUestado/CU15_diagrama_estado.puml
documentationDocs/CUestado/CU16_diagrama_estado.puml
documentationDocs/CUestado/CU17_diagrama_estado.puml
documentationDocs/CUsecuenciaEA/CU06_diagrama_secuencia.puml
documentationDocs/CUsecuenciaEA/CU11_diagrama_secuencia_consultar_disponibilidad.js
documentationDocs/CUsecuenciaEA/CU13_diagrama_secuencia_inventario_consolidado.js
documentationDocs/CUsecuenciaEA/CU13_diagrama_secuencia.puml
documentationDocs/CUsecuenciaEA/CU14_diagrama_secuencia_gestionar_reservas.js
documentationDocs/CUsecuenciaEA/CU15_diagrama_secuencia_gestionar_carrito.js
documentationDocs/CUsecuenciaEA/CU16_diagrama_secuencia_compra_digital.js
documentationDocs/CUsecuenciaEA/CU17_diagrama_secuencia_atender_reserva_sucursal.js
documentationDocs/DigrNavegacion/Arquitectura_General_Componentes.drawio
documentationDocs/DigrNavegacion/CU00_diagrama_navegacion_general.js
documentationDocs/DigrNavegacion/P1_diagrama_navegacion_gestion_usuarios.js
documentationDocs/DigrNavegacion/P1_Gestion_Usuarios_Acceso_Componentes.drawio
documentationDocs/DigrNavegacion/P2_diagrama_navegacion_gestion_productos_catalogo.js
documentationDocs/DigrNavegacion/P2_Gestion_Productos_Catalogo_Componentes.drawio
documentationDocs/DigrNavegacion/P3_diagrama_navegacion_gestion_inventario_disponibilidad.js
documentationDocs/DigrNavegacion/P3_Gestion_Inventario_Disponibilidad_Componentes.drawio
documentationDocs/DigrNavegacion/P4_diagrama_navegacion_gestion_compras_reservas.js
documentationDocs/DigrNavegacion/P4_Gestion_Compras_Reservas_Componentes.drawio
documentationDocs/DigrNavegacion/P5_diagrama_navegacion_gestion_ventas_atencion_sucursal.js
documentationDocs/DigrNavegacion/P5_Gestion_Ventas_Atencion_Sucursal_Componentes.drawio
documentationDocs/DigrNavegacion/P6_diagrama_navegacion_experiencia_inteligente_analitica.js
documentationDocs/DigrNavegacion/P6_Experiencia_Inteligente_Analitica_Componentes.drawio
