DATABASE_URL=your_database_url_here
SECRET_KEY=HcaerloGenerarConPython
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=fashionstore
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_CURRENCY=usd
